Source: deepin-anything
Section: admin
Priority: optional
Maintainer: Arun Kumar Pariyar <openarungeek@gmail.com>
XSBC-Original-Maintainer: Deepin Package Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (=13),
 dkms,
 libdtkcore-dev (>=5.5~),
 libmount-dev,
 libudisks2-qt5-dev,
 pkg-config,
 qtbase5-dev,
Standards-Version: 4.5.1
Homepage: http://github.com/linuxdeepin/deepin-anything

Package: deepin-anything-dev
Architecture: any
Depends:
 deepin-anything-libs( =${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: anything user interface library
 anything library developer package.

Package: deepin-anything-dkms
Architecture: all
Depends:
 dkms,
 ${misc:Depends},
 ${shlibs:Depends},
Description: anything module
 anything kernel module package

Package: deepin-anything-libs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: anything library
 anything library package

Package: deepin-anything-server
Architecture: any
Depends:
 deepin-anything-dkms,
 ${misc:Depends},
 ${shlibs:Depends},
Description: anything server application and lib
 anything server package

Package: deepin-anything-server-dev
Architecture: any
Depends:
 deepin-anything-server( =${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: anything server user interface library
 anything server library developer package.
